@font-face {
    font-family: "Montserrat";
    src: url(./font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "AksaraBali";
    src: url(./font/AksaraBali/NotoSansBalinese-VariableFont_wght.ttf);
}
    
body {
    margin: 0;
    background-color:#fff;
    font-family: "Montserrat", sans-serif;
    color:#000;
}

/* NAVIGATION BAR */
nav {
    background-color: rgb(190, 0, 0);
    background-image: linear-gradient(red, rgb(60, 0, 0));
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
}

nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logo img {
    width: 70px;
}

nav .logo h1 {
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* HEADER */
header {
    height: 700px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('./asset/monumen-bajra-sandhi.jpg');
    background-size: cover;
    background-position: center left;
}

header .right img {
    width: 300px;
}

header .left {
    width: 800px;
}

header .left p {
    margin: 0;
    color: white;
    font-family: "AksaraBali";
    font-size: 30px;
    text-shadow: 0 0 12px black;
}

header .left h1 {
    margin: 20px 0;
    color: white;
    font-size: 30px;
    text-shadow: 0 0 12px black;
}

/* MAIN */
main {
    margin: 0 auto;
    max-width: 90vw;
}

main section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main section h1 {
    font-weight: 600;
}

main article {
    width: 100%;
}

main h2 {
    font-size: 20px;
    font-weight: 500;
}

main p {
    font-size: 16px;
    text-align: justify;
}

/* Footer */
footer {
    height: 60px;
    background-color: #0a0a0a;
    color: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
}