@font-face {
    font-family: "Montserrat";
    src: url(./font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "AksaraBali";
    src: url(./font/AksaraBali/NotoSansBalinese-VariableFont_wght.ttf);
}
    
body {
    margin: 0;
    background-color:#fff;
    font-family: "Montserrat", sans-serif;
    color:#000;
}

.aksara {
    margin: 0;
    color: white;
    font-family: "AksaraBali";
    font-size: 18px;
}

/* NAVIGATION BAR */
nav {
    background-image: linear-gradient(red, rgb(100, 0, 0));
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

nav .identitas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

nav .identitas p {
    margin: 2px 0;
    font-weight: 500;
}

nav ul {
    width: 400px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

/* HEADER */
header {
    height: 900px;
    display: flex;
    background-image: url('./asset/monumen-bajra-sandhi.jpg');
    background-size: cover;
    background-position: center top 500%;
}

header aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

header aside .logo {
    width: 90%;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header aside .logo img {
    height: 130px;
}

header aside .ucapan {
    width: 100%;
    border-top: 2px solid rgb(100, 0, 0);
    background-image: linear-gradient(red, rgb(100, 0, 0));
}

header aside .ucapan h1 {
    margin: 20px 0 0 40px;
    font-size: 46px;
    color: white;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
    font-weight: 700;
}

header aside .ucapan .aksara {
    font-weight: 200;
}

header aside .ucapan .english {
    color: black;
    margin-bottom: 40px;
    font-size: 38px;
    font-style: italic;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff, -1px 0px 0 #fff, 1px 0px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff, -2px 0px 0 #fff, 2px 0px 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff, -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff, -2px -1px 0 #fff;
}

/* MAIN */
main {
    margin: 0 auto;
    max-width: 90vw;
}

main .pengenalan {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .pengenalan h1 {
    font-weight: 500;
}

main .pengenalan article {
    width: 100%;
}

main .pengenalan article h2 {
    font-size: 20px;
    font-weight: 500;
}

main .pengenalan article p {
    font-size: 16px;
    text-align: justify;
}

main .koleksi {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .koleksi h1 {
    font-weight: 600;
}

main .koleksi article {
    width: 100%;
}

main .koleksi article h2 {
    font-size: 20px;
    font-weight: 500;
}

main .koleksi article p {
    font-size: 16px;
    text-align: justify;
}

main .koleksi article article {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

main .koleksi article article h1 {
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

main .koleksi article article .card {
    padding: 20px;
    background-color: white;
    width: 200px;
    height: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

main .koleksi article article .card a {
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
    overflow: hidden;
}

main .koleksi article article .card a img {
    width: 200px;
    height: 200px;
    object-fit: none;
    object-position: top;
}

main .koleksi article article .card a h2 {
    font-weight: 500;
}

/* FOOTER */
footer {
    height: 90px;
    background-image: linear-gradient(rgb(100, 0, 0), red);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    nav .identitas p {
        font-size: 16px;
    }

    nav ul li a {
        font-size: 16px;
    }
    
    header aside .ucapan h1 {
        font-size: 32px;
    }

    header aside .ucapan .aksara {
        font-size: 32px;
    }

    header aside .ucapan .english {
        font-size: 32px;
    }
}
  
@media only screen and (max-width: 600px) {
    nav .identitas p {
        font-size: 12px;
    }

    nav ul li a {
        font-size: 12px;
    }
    
    header aside .ucapan h1 {
        font-size: 26px;
    }

    header aside .ucapan .aksara {
        font-size: 26px;
    }

    header aside .ucapan .english {
        font-size: 26px;
    }
}