@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "AksaraBali";
    src: url(../font/AksaraBali/NotoSansBalinese-VariableFont_wght.ttf);
}
    
body {
    margin: 0;
    background-color:#fff;
    font-family: "Montserrat", sans-serif;
    color:#000;
}

/* NAVIGATION BAR */
nav {
    background-image: linear-gradient(red, rgb(100, 0, 0));
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

nav .identitas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

nav .identitas p {
    margin: 2px 0;
    font-weight: 500;
}

nav ul {
    width: 400px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

/* HEADER */


/* MAIN */
main {
    margin: 0 auto;
    max-width: 40vw;
}

main section {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main section h1 {
    font-weight: 600;
}

main section article {
    width: 100%;
}

main section article h2 {
    font-size: 20px;
    font-weight: 500;
}

main section article p {
    font-size: 16px;
    text-align: justify;
}

main section article a {
    text-decoration: none;
}

/* FOOTER */
footer {
    width: 100%;
    height: 90px;
    background-image: linear-gradient(rgb(100, 0, 0), red);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    nav .identitas p {
        font-size: 16px;
    }

    nav ul li a {
        font-size: 16px;
    }
    
    header aside .ucapan h1 {
        font-size: 32px;
    }

    header aside .ucapan .aksara {
        font-size: 32px;
    }

    header aside .ucapan .english {
        font-size: 32px;
    }
}
  
@media only screen and (max-width: 600px) {
    nav .identitas p {
        font-size: 12px;
    }

    nav ul li a {
        font-size: 12px;
    }
    
    header aside .ucapan h1 {
        font-size: 26px;
    }

    header aside .ucapan .aksara {
        font-size: 26px;
    }

    header aside .ucapan .english {
        font-size: 26px;
    }
}